@import "../cat-nav/cat-nav";
@import "../my-account/my-account";
@import "../basket/basket";
@import "../search/search";

.header {
	display: flex;
	height: 60px;

	.top-content {
		
	}

	.header-logo {
		order: 3;
		font-size: 50px;
		
		&:before {
			font-family: 'icons';
			content: 'T';
		}
	}

	.header-search {
		order:2;
	}

	.navigation {
		order: 1
	}

	.header-my-account {
		order: 4;
	}

	.header-basket {
		order: 5;
	}
}