@import "normalize";
@import "variables";
@import "layout";

@import "../../components/header/header";

body{
	background-color:#ffffff;
}

#content {
	@include outer-container;
}

@font-face {
    font-family: icons;
    src: url(../fonts/tescoicons.woff) format(woff);
}


.page {
	height: 500px;
}

/** move these to global at some point ***/
.visually-hidden {
	position: absolute;
	left: -99999px;
}