.header-basket {

	.basket-open-link {
		&:before {
			font-family: 'icons';
			content: 'b';
		}
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	.header-basket-menu {
		display: none;

		&.open {
			display:block;
		}

		position: absolute;
		left: 0;
		width: 100%;
	}
}