.navigation {

	.nav-open-link {
		&:before {
			font-family: 'icons';
			content: 't';
		}
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.nav-menu {
		display: none;
		border: 1px solid #ccc;
		position: absolute;
		left: 0;
		width: 100%;

		&.open {
			display:block;
		}

		li {
			width: 100%;

			&:after {
				font-family: 'icons';
				content: 'r';
			}

			ul {
				display: none;
			}

			a {
				color: #353535;
				display: block;

				&:active, &:hover {
					background-color: #009cda;
					color: #fff;
				}
			}

			&.open {
				>ul {
					display: block;
					position: absolute;
					background-color: #fff;
					top:0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}