.navigation {

	.nav-open-link {
		&:before {
			font-family: 'icons';
			content: 't';
		}
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.nav-menu {
		display: none;
		border: 1px solid #ccc;
		position: absolute;
		left: 0;
		width: 100%;

		&.open {
			display:block;
		}

		li {
			width: 100%;

			div {
				display: none;
				position: absolute;
				left: 0;
			}

			ul {
				margin-left: 50px;
			}

			> a {
				color: #353535;
				display: block;
				font-size: 1em;
				padding: 0.5em;

				&:after {
					font-family: 'icons';
					content: 'r';
					float: right;
				}

				&:active, &:hover {
					background-color: #009cda;
					color: #fff;
				}
			}

			&.open {
				//>ul {
				>div {
					display: block;
					position: absolute;
					background-color: #fff;
					top:0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.nav-back-link {
		float: left;
		height: 100%;
		width: 50px;
		border-right: 1px solid #eee;
		background-color: #fff;

		&:after {
			font-family: 'icons';
			content: 'g';
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			padding-left: 10px;
		}
	}
}