.header-my-account {

	.my-account-open-link {
		&:before {
			font-family: 'icons';
			content: 'W';
		}
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	.header-my-account-menu {
		display: none;
		z-index: 2;
		background-color: #fff;

		&.open {
			display: block;
		}

		position: absolute;
		left: 0;
		width: 100%;
	}
}